*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
   background-color: rgb(0, 0, 0);
   font-family: 'arial', sans-serif;
   font-weight: 700;
}

input{
    width: 300px;
    height: 30px;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
}

button{
    width: 100px;
    height: 30px;
    background-color: #fff;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    font-weight: 700;
}

button:hover{
    background-color: black;
    color: #fff;
}

.pai{
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.filho{
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    gap: 10px;
    height: 400px;
    width: 400px;
    margin-top: 130px;
    border-radius: 10px;
    box-shadow: #fff;
}